$appText: #1b2d45;
$appHeader: #00214d;
$backgroundLight: #f2f4f6;

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 28px;
}

h2 {
  margin-bottom: 30px;
}

.App {
  margin: 0;
  padding: 0;

  &__content {
    max-width: 940px;
    padding: 30px;
    height: 100vh;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__about {
    color: $appText;
    background: $backgroundLight;

  }

  &__testimonials {
    background: #fde24f;
    color: $appText;
  }

  &__blog {
    background: #1b2d45;
    color: #fde24f;
  }
}


@media (max-width: 500px) {
  .App {
    &__content {
      box-sizing: border-box;
      padding-top: 100px;
      height: 100%;
      padding-bottom: 100px;
    }
  }
}