$appText: #1b2d45;
$appHeader: #00214d;
$backgroundLight: #f2f4f6;

.App {
  &__inner {
    max-width: 940px;
    margin: auto;
  }

  &__about {
    color: $appText;
    background: $backgroundLight;
    padding: 30px;

    & h2 {
      color:$appHeader;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__testimonials {
    background: #fde24f;
    color:$appText;
    padding: 30px;
    opacity: 0;
    & h2 {
      margin: 20px 0px;
    }
  }

  &__blog {
    background: #1b2d45;
    padding: 30px;
    color: #fde24f;

    & h2 {
      margin: 20px 0px;
    }
  }
}
